form {
	font-size: 2rem;
	margin-inline: auto;
	max-width: 500px;
}
label {
	display: block;
	margin-block: 1em;
}
input, button {
	height: 2em;
	display: block;
	margin-block: 0.25em 2em;
	font-size: inherit;
}
button {
	cursor: pointer;
}
textarea, h1 {
	flex-basis: 100%;
}
textarea {
	height: 50vh;
}
h1 {
	text-align: center;
}
