<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" id="html" class="no-js" lang="en_US">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	
	<title>LOREX - Osmand Webtracking Frontend</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="color-scheme" content"dark light">
	
	<meta property="og:title" content="LOREX - Osmand Webtracking Frontend">
	<meta name="description" content="LOREX - Based on leaflet, openstreetmap React and Express, save your webtracking and display it on a map">
  <meta property="og:description" content="LOREX - Based on leaflet, openstreetmap React and Express, save your webtracking and display it on a map">
	<meta property="og:image" content="<%= locals.root %>/icon.png">
	<meta property="og:image:alt" content="Image description">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:url" content="<%= locals.root %>">	
	
	<link rel="stylesheet" href="/css/base.css">
	<link rel="icon" href="favicon.ico">
	
	<link rel="apple-touch-icon" href="/icon.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
	<div id="react-root">
		<h1>Welcome</h1>
	</div>
  
  <script src="/js/bundle.js"></script>
</body>