@keyframes move-it {
	to {
		background-position: 200px 0px;
	}
}

.app {
	--bg1: color-mix(in oklch, var(--main-L6) 80%, var(--main-L5));
	--bg2: var(--main-L6);	
	--text: var(--neutral-L1);
	@media (prefers-color-scheme: dark) {
		--bg1: var(--neutral-L1);
		--bg2: var(--neutral-L2);
		--text: var(--main);
	}

	min-height: 100%;
	color: var(--text);
	background: repeating-linear-gradient(45deg,
			var(--bg1),
			var(--bg1) 5%,
			var(--bg2) 5%,
			var(--bg2) 10%);
	background-size: 200px 200px;
	animation: move-it 10s linear infinite;

	

	.headline {
		margin-inline: auto;
		padding-block: max(1em, 10dvh);
		text-align: center;
		font-size: clamp(4rem, 5dvmax, 10rem);
	}
}
