@keyframes move-it {
	to {
		background-position: 200px 0px;
	}
}

.start {
	--bg1: color-mix(in oklch, var(--main) 95%, white);
	--bg2: var(--main);	
	--text: color-mix(in oklch, var(--neutral) 50%, black);;
	@media (prefers-color-scheme: dark) {
		--bg1: color-mix(in oklch, var(--neutral) 90%, black);
		--bg2: var(--neutral);
		--text: var(--main);
	}

	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	color: var(--text);
	background: repeating-linear-gradient(45deg,
			var(--bg1),
			var(--bg1) 5%,
			var(--bg2) 5%,
			var(--bg2) 10%);
	background-size: 200px 200px;
	animation: move-it 10s linear infinite;

	

	.headline {
		margin-inline: auto;
		padding-block: max(1em, 10dvh);
		text-align: center;
		font-size: clamp(4rem, 5dvmax, 10rem);
		flex-basis: 100%;
	}

	a {
		display: block;
		font-size: 2rem;
	}
}
