@keyframes move-it {
	to {
		background-position: 200px 0px;
	}
}

.login {
	--bg1: color-mix(in oklch, var(--main) 95%, white);
	--bg2: var(--main);
	--text: color-mix(in oklch, var(--neutral) 50%, black);

	[data-mui-color-scheme="dark"] & {
		--bg1: color-mix(in oklch, var(--neutral) 90%, black);
		--bg2: var(--neutral);
		--text: var(--main);
	}

	min-height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	color: var(--text);
	background: repeating-linear-gradient(45deg,
		var(--bg1),
		var(--bg1) 5%,
		var(--bg2) 5%,
		var(--bg2) 10%);
	background-size: 200px 200px;
	animation: move-it 10s linear infinite;


	.wrapper {
		max-width: 50em;
		padding: 2.5em;
		margin: 2.5em;
		background: var(--semiBg);
		--cut: 3em;
		.cut { --cut: 1.1em } /* reset for child elements */
	}

	.headline {
		margin-inline: auto;
		padding-block: 1em;
		text-align: center;
		font-size: 3.5rem;
		flex-basis: 100%;
	}

	form {
		display: flex;
		flex-flow: nowrap column;
		gap: 2em;
		margin-bottom: 10vh;
	}

	input {
		font-size: 2.2rem;
	}

	label {
		font-size: 1.8rem;
		margin-bottom: 0.5em;

		&.Mui-focused {
			color: var(--text);
		}
	}

	form {
		.MuiSvgIcon-root {
			font-size: 2.7rem;
			max-height: 100%;
		}

		.MuiInputAdornment-root {
			max-height: 100%;
			height: 4.15em;
		}

		p {
			margin-top: 0.5em;
		}
	}

	.submit {
		align-self: end;
		font-size: 1.5rem;
		min-width: 9em;
		min-height: 3.5em;
		border-radius: 0;

		[data-mui-color-scheme="light"] &:not([disabled]) {
			color: var(--main);
			background-color: color-mix(in oklch, var(--neutral) 90%, transparent);
		}

		.MuiButton-icon {
			font-size: 0.8em;
		}

	}


}