@keyframes move-it {
	to {
		background-position: 200px 0px;
	}
}

.start {
	/* theming */
	--text: color-mix(in oklch, var(--neutral) 50%, black);
	[data-mui-color-scheme="dark"] & {
		--text: var(--main);
	}
	color: var(--text);


	/* grid layout */
	height: 100%;
	display: grid;
  grid-template-columns: 1fr 40vmin;
	grid-template-rows: minmax(3em, auto) 1fr 1fr 1fr minmax(3em, auto);
}

.grid-item {

	&.info {
		

	}

	&.map {
		grid-column: 1;
		grid-row: 2 / span 3;
		background-color: darkkhaki;
	}

	&.status {
		grid-column: 2;
		grid-row: 1 / span 2;
		background-color: gold;
	}

	&.image {
		grid-column: 2;
		background-color: moccasin;
	}

	&.image+.image {
		background-color: lightgoldenrodyellow;
	}

	&.subinfo {
		grid-column: 1 / -1;
		background-color: peachpuff;
	}
}