@keyframes move-it {
	to {
		background-position: 200px 0px;
	}
}

.start {
	/* theming */
	--text: color-mix(in oklch, var(--neutral) 50%, black);

	[data-mui-color-scheme="dark"] & {
		--text: var(--main);
	}

	color: var(--text);
	background: var(--semiBg);


	/* grid layout */
	height: 100%;
	display: grid;
	grid-template-columns: 1fr minmax(16rem, 40vmin);
	grid-template-rows: minmax(3em, auto) 1fr 1fr 1fr minmax(3em, auto);

	.grid-item {

		&.info {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 0.5em 0.8em;

			@media (min-width: 30em) {
				padding: 0.7em 2em;
			}
		}

		&.theme {
			grid-row: 1;
			grid-column: 2;
			display: grid;
			align-items: center;
			justify-items: center;
		}

		&.map {
			grid-column: 1;
			grid-row: 2 / span 3;
			margin-right: 1em;

			background-color: color-mix(in oklab, transparent 50%, var(--main));

			@media (max-width: 35em) {
				grid-column: 1 / -1;
				margin-right: 0;
			}
		}

		&.status {

			@media (max-width: 35em) {
				&.emptyData {
					display: none;
				}
			}

			grid-column: 2;
			grid-row: 2;
			margin: 1em 1em 1em 0;
			position: relative;
			z-index: 0;

			&.emptyData::after {
				content: none;
			}

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				z-index: -1;

				background-color: var(--semiBg);

				--shadowColor: var(--text);
				filter: url(#rough-light);
				box-shadow: 0 0 0.2em var(--shadowColor);
			}

			[data-mui-color-scheme="dark"] &::after {
				--shadowColor: var(--main);
				filter: url(#rough-light) drop-shadow(0 3px 5px var(--shadowColor));
			}

		}

		&.images {
			grid-column: 2;
			grid-row: 3 / span 3;

			display: grid;
			overflow: auto;

			@media (max-width: 35em) {
				display: none;
			}
		}

		.image {
			display: inline-block;
			aspect-ratio: 16/9;
			margin-bottom: 0.5rem;
			cursor: pointer;

			>* {
				width: 100%;
				height: 100%;
			}
		}


		&.subinfo {
			grid-column: 1 / -1;
			padding: 0.5em 0.8em;

			@media (min-width: 35em) {
				padding: 0.7em 2em;
				grid-column: 1 / 2;
			}

			.MuiLinearProgress-root {
				height: 0.5em;
				margin: -0.5em 1em 1em -0.8em;

				@media (min-width: 30em) {
					margin: -0.7em 1em 1em -2em;
				}
			}

			.info {
				display: inline-block;
				padding-inline: 1em;
				border-right: 0.1rem solid;

				&:last-child,
				&.noDivider {
					border: none;
					padding-right: 0;
				}
			}
		}
	}

	.message {
		display: inline-flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		font-size: 0.9em;

		@media (min-width: 30em) {
			font-size: 1.3em;
		}

		&.center {
			margin-left: auto;
		}

		&.error {
			color: var(--alert);
		}

		.title {
			font-size: 1.1em;

			@media (min-width: 30em) {
				font-size: inherit;
			}

			width: 100%;
			text-align: center;
		}
	}

	.loginButton {
		color: white;

		[data-mui-color-scheme="dark"] & {
			color: black;
		}

		margin-left: auto;
		cursor: pointer;
		white-space: nowrap;

		font-size: 0;
		padding: 0;

		@media (min-width: 30em) {
			/* reset to MUI default */
			font-size: 1.3rem;
			padding: 8px 22px;
		}

		.MuiButton-icon {
			font-size: 1.3rem;

			@media (min-width: 30em) {
				font-size: inherit;
			}
		}

		.MuiButton-startIcon {
			margin-left: 6px;

			@media (min-width: 30em) {
				margin-left: 0px;
			}
		}

		.MuiButton-endIcon {
			margin-left: 0;

			@media (min-width: 30em) {
				margin-left: 4px;
			}
		}


		&.loginButton--loggedIn {
			svg {
				position: relative;
				top: -0.1em;
				right: 0.1em;
			}
		}
	}
}

.noData {
	display: block;
	font-size: 1.4em;
	align-self: center;
	text-align: center;
	width: min-content;
	margin: 2.5em auto;
	padding: 2.5em;
	color: var(--alert);
	background-color: var(--semiBg);
}

.loading[class] {
	display: grid;
	width: 100%;
	height: 100%;
	place-content: center;
	place-items: center;

	&.box {
		aspect-ratio: 16/9;
		padding-bottom: 0.5rem;
		background-color: #ddd;
		background-clip: content-box;
	}

	&.line {
		height: 0.5em;
	}
}