.status {
	container-type: inline-size;
}

.wrapper {
	height: 100%;
	overflow: hidden;
	transition: 0.5s height;

	&.collapse {
		height: 3.3em;
	}

}

.statusTable {
	font-size: 1.4rem;
	padding: 0.7rem 0.2em 0.2em 1em;
	height: 100%;

	th {
		text-align: left;
		padding: 0.2em 1rem 0;
		vertical-align: top;
	}

	td {
		font-stretch: 120%;
		font-weight: 350;
		font-style: oblique 10deg;
		letter-spacing: 0.0125em;

		&.icon {
			vertical-align: top;
		}
	}


	.strike {
		font-style: normal;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 40%;
			left: 60%;
			transform: translate(-50%, -50%);
			border-top: 1px solid;
			width: 100%;
		}
	}

	span {
		white-space: nowrap;
	}

	.lines span {
		display: block;
	}

	.subTable {
		/* nested Table used in calculated Speed */
		width: 100%;
		border-spacing: 0 0.15em;

		caption {
			text-align: inherit;
			white-space: nowrap;

			span {
				display: inline-block;
				overflow: hidden;
				max-width: 39cqi;
				/* container width */
				text-overflow: ellipsis;
				vertical-align: middle;
			}
		}

		th {
			display: table-cell;
			/* prevent hiding of container query */
			padding: 0;
			font-stretch: normal;
			white-space: nowrap;
			font-weight: 500;
			text-align: center;
		}

		td {
			text-align: center;
		}
	}
}

@container (max-width: 30rem) {
	.statusTable {
		padding: 0.5rem 0.2rem;
		font-size: 1.3rem;

		.subTable {

			th,
			td {
				text-align: left;
				min-width: 29cqi;
				/* prevents collapsing */
			}
		}
	}

	th {
		display: none;
	}

	td {
		padding-inline: 0.2rem;
	}


}

@container (max-width: 20rem) {
	.statusTable {
		padding: 0.3rem 0.1rem;
		font-size: 1.15rem;
	}

	td {
		padding: 0 0 0 0.1rem;
		font-stretch: 100%;
		font-weight: 400;
		letter-spacing: normal;
	}
}